[submodule "studied_architectures/PC-DARTS"]
	path = studied_architectures/PC-DARTS
	url = https://github.com/vdesgrange/PC-DARTS
[submodule "studied_architectures/proxylessnas"]
	path = studied_architectures/proxylessnas
	url = https://github.com/vdesgrange/proxylessnas.git
[submodule "studied_architectures/pdarts"]
	path = studied_architectures/pdarts
	url = https://github.com/vdesgrange/pdarts
[submodule "studied_architectures/models"]
	path = studied_architectures/models
	url = https://github.com/vdesgrange/models.git
[submodule "studied_architectures/AutoDeeplab"]
	path = studied_architectures/AutoDeeplab
	url = https://github.com/vdesgrange/AutoDeeplab.git
[submodule "studied_architectures/PC-AutoDeeplab"]
	path = studied_architectures/PC-AutoDeeplab
	url = https://github.com/vdesgrange/PC-AutoDeeplab.git
[submodule "studied_architectures/autodeeplab-1"]
	path = studied_architectures/autodeeplab-1
	url = https://github.com/vdesgrange/autodeeplab-1.git
